{% extends 'base.html' %} {% block body %}

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center" id="lessonTitle">Drill phraseology generator</h1>
      <p>This site is designed to allow you to pick a drill lesson from the British Army Drill Manual and get the corresponding script (otherwise known as 'phraseology'). </p>
      <p>I'm starting off with just a couple of lessons and working my way up, so bear with me. I'm going to be adding them in the order that's least time-consuming to produce, so it might seem a bit random (like not starting with the 3 basic positions), but bear with me.</p>
      <h2>Foot drill</h2>
      {% for d in drill %}
      <a href="/lessons/{{ '-'.join((d.lesson).split(' ')) }}"><p class="lessonURL">{{ d.lesson }}</p></a>
      {% endfor %}
    </div>
  </div>

{% endblock %}
