{% extends 'base.html' %} {% block body %}

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center" id="lessonTitle">Drill phraseology for <br /><strong>{{ drill.lesson }}</strong></h1>
      <h2>Introduction</h2>
      <p>Taking you a stage further in your {{ drill.type }} drill, I am now going to teach you {{ drill.lesson }}. The reason this movement is taught is to allow you as an individual or formed body of men to {{ drill.reason }} in a smart, soldier-like and uniform manner.</p>

      <h2>Demonstration</h2>
      <p>On the word of the command 'STAND - EASY', relax and look this way for a full demonstration of the movement.</p>
      <p>STAND - EASY! Relax and look this way. </p>
      <p>{{ drill.command }}!</p>
      <p>{{ drill.timings }}!</p>
      <p>There you saw a complete demonstration of the movement. For the purpose of instruction, this movement can be broken down into parts, each part being numbered.</p>

      <h2>Break it down into numbered parts</h2>
      <!-- Break it down into parts -->
      {% for squad in drill.squads %}

      <div>
        <h3 class="text-muted">Demonstration</h3>
        <p>Continue to look this way for a demonstration of the movement to be carried out on receipt of the word of command "{{ squad.command }}".</p>
        <p>{{ squad.command }}!</p>
        <p>{{ squad.timings }}!</p>
        <h3 class="text-muted">Explanation</h3>
        <p>IMMEDIATELY, on receipt of the word of command, {{ squad.immediately }}, and I FROZE in this position!</p>
        <p>POINTS TO NOTE: My {{ squad.points }}.</p>
        <p>You, the squad, on execution of this movement will call out "{{ squad.timings }}!". Are there any questions?</p>
        <h3 class="text-muted">Imitation</h3>
        <p>Adopt the position of {{ squad.position }}.</p>
        <p>{{ squad.command }}!</p>
        <p>As you were!</p>
        <p>{{ squad.command }}!</p>
        <p>As you were!</p>
        <p>{{ squad.command }}!</p>
        <p>ENSURE NOW that your {{ squad.points }}.</p>
        <p>As I pass you, break off into pairs and practise, ensuring that one of you calls out the correct word of command.</p>
        <h3 class="text-muted">Practice</h3>
        <p class="sideNote text-muted"><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i> Inspect the class individually, critiquing and correcting as necessary, and telling them to break off as you pass each pair.</p>
        <p class="sideNote text-muted"><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i> Once all of the class has broken off to practise, move between pairs (or groups if an uneven number) and critique further.</p>
        <p>FALL IN {{ squad.fall_in.upper() }}!</p>
        <h3 class="text-muted">Confirmation</h3>
        <p>Adopt the position of {{ squad.position }}.</p>
        <p>{{ squad.command }}!</p>
        <p>As you were!</p>
        <p>{{ squad.command }}!</p>
        <p>As you were!</p>
        <p>{{ squad.command }}!</p>
        {% if squad.squadNum != finalSquad %}
        <p class="sideNote text-muted"><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i> On the last practice, the instructor should carry out the same movement as the class in preparation for the next part of the lesson.</p>
        <p>Relax and look this way. I left you in THIS position.</p>
        {% else %}
        <p>Relax and look this way.</p>
        {% endif %}
      </div>

      {% endfor %}

      <!-- Put it together with regimental timings -->

                    <h2>Putting it together with regimental timings</h2>
                    <p>These movements are now put together into one movement with the regimental timings of {{ drill.timings }}!</p>
                    <p>Continue to look this way for a demonstration of the complete movement with regimental timings.</p>
                    <p>{{ drill.command }}</p>
                    <p>{{ drill.timings }}</p>
                    <p>There you saw a complete demonstration of the movement with regimental timings.</p>
                    <p>You, the squad, on execution of this movement will call out {{ drill.timings }}. Are there any questions?</p>
                    <p>Adopt the position of {{ drill.position }}</p>
                    <p>{{ drill.command }}</p>
                    <p>As you were!</p>
                    <p>{{ drill.command }}</p>
                    <p>As you were!</p>
                    <p>{{ drill.command }}</p>
                    <p>As I pass you, break off into pairs and practise, ensuring that one of you calls out the correct word of command.</p>
                    <div class="sideNote text-muted"><p><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i> Inspect the class individually, critiquing and correcting as necessary, and telling them to break off as you pass each pair.</p></div>
                    <div class="sideNote text-muted"><p><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i> Once all of the class has broken off to practise, move between pairs (or groups if an uneven number) and critique further.</p></div>
                    <p>FALL IN {{ drill.fall_in }}!</p>
                    <p>Adopt the position of {{ drill.position }}</p>
                    <p>{{ drill.command }}</p>
                    <p>As you were!</p>
                    <p>{{ drill.command }}</p>
                    <p>As you were!</p>
                    <p>{{ drill.command }}</p>
                    <p>As you were!</p>

                    <!-- End of lesson drills -->

                    <h2>End of lesson drills</h2>
                    <p>Are there any final questions about the lesson?</p>
                    <p>You have now learnt the {{ drill.lesson }}. Look forward to your next lesson, which is <strong>{{ drill.next_lesson }}</strong>.</p>
                </div>
            </div>

{% endblock %}
